# About this notebook

The EPA's power sector data crosswalk is an important input for this data pipeline. However, it is incomplete and in some cases has incorrect crosswalks. Ideally, we would contribute directly to the github repository, but the code is written in R and not python. As a temporary measure, we want to explore the outputted crosswalk and post-process it to fix some of these issues.

In [1]:
# import packages
import pandas as pd
import numpy as np
import os

%reload_ext autoreload
%autoreload 2

# # Tell python where to look for modules.
import sys

sys.path.append("../../src/")


import oge.load_data as load_data
from oge.filepaths import *
import oge.data_cleaning as data_cleaning

year = 2023

/Users/brdo/.virtualenvs/open-grid-emissions-zm3GQQDc/lib/python3.11/site-packages/pydantic/_internal/_fields.py:172: UserWarning: Field name "schema" in "Resource" shadows an attribute in parent "PudlMeta"
  warnings.warn(

### Identify CEMS Units that are not mapped to EIA

In [2]:
# load cems data
cems = load_data.load_cems_data(year)
# remove non-grid connected plants
cems = data_cleaning.remove_plants(
    cems,
    non_grid_connected=True,
    remove_states=["PR"],
    steam_only_plants=False,
    distribution_connected_plants=False,
)

# load the unit to generator mapping from the subplant crosswalk
# NOTE: you will need to run this in the pipeline first
generator_unit_map = pd.read_csv(
    outputs_folder(f"{year}/subplant_crosswalk_{year}.csv.zip"),
)[["plant_id_epa", "generator_id", "emissions_unit_id_epa"]]

# sum operational data by unit and merge the generator map
cems_units = (
    cems.groupby(["plant_id_epa", "plant_id_eia", "emissions_unit_id_epa"])[
        [
            "gross_generation_mwh",
            "fuel_consumed_mmbtu",
            "steam_load_1000_lb",
            "co2_mass_lb",
        ]
    ]
    .sum()
    .reset_index()
)
cems_units = cems_units.merge(
    generator_unit_map, how="left", on=["plant_id_epa", "emissions_unit_id_epa"]
)

2024-11-19 15:48:58 [INFO] oge.oge.data_cleaning:677 Removing 41 plants that are not grid-connected
2024-11-19 15:49:05 [INFO] oge.oge.data_cleaning:641 Removing 1 plants located in the following states: ['PR']

In [3]:
# identify units that are not mapped to a generator and have non-zero generation
cems_units[cems_units["generator_id"].isna() & (cems_units["gross_generation_mwh"] > 0)]

      plant_id_epa  plant_id_eia emissions_unit_id_epa  gross_generation_mwh  fuel_consumed_mmbtu  steam_load_1000_lb   co2_mass_lb generator_id
12               3             3                     8              283475.0         1.746748e+06                 0.0  2.076144e+08          NaN
31              47            47                 CCT10               13866.0         1.326446e+05                 0.0  1.576564e+07          NaN
32              47            47                 CCT11               17421.0         1.696681e+05                 0.0  2.016670e+07          NaN
40              47            47                  CCT9               15559.0         1.510020e+05                 0.0  1.794830e+07          NaN
50              56            56                   CC1             1754974.0         1.087131e+07                 0.0  1.292129e+09          NaN
81             136           136                   CT1             3069932.0         1.936374e+07                 0.0  2.301511e+09          NaN
82             136           136                   CT2             3088501.0         1.952760e+07                 0.0  2.320999e+09          NaN
207            492           492                    A1               23414.0         2.311201e+05                 0.0  2.777395e+07          NaN
208            492           492                    A2               26680.0         2.566728e+05                 0.0  3.070614e+07          NaN
209            492           492                    A3               21594.0         2.051277e+05                 0.0  2.457286e+07          NaN
210            492           492                    A4               25391.0         2.513039e+05                 0.0  3.014843e+07          NaN
211            492           492                    A5               24725.0         2.322480e+05                 0.0  2.784683e+07          NaN
212            492           492                    A6               22193.0         2.193581e+05                 0.0  2.637460e+07          NaN
3127         54271         54271                   A01              107906.0         9.751658e+05                 0.0  1.159060e+08          NaN
3128         54271         54271                   A02              107073.0         9.828680e+05                 0.0  1.168241e+08          NaN
4779         56350         56350                 CT-4B               47935.0         6.273199e+05                 0.0  7.456142e+07          NaN
5163         60387         60387                     3              143814.0         1.480909e+06                 0.0  1.768780e+08          NaN
5164         60387         60387                     4              127698.0         1.321042e+06                 0.0  1.588934e+08          NaN
5216         62949         62949                  P001             3179083.0         2.193513e+07                 0.0  2.607156e+09          NaN
5217         62949         62949                  P002             2732882.0         1.858513e+07                 0.0  2.208972e+09          NaN
5218         62949         62949                  P003             2699557.0         1.857328e+07                 0.0  2.207569e+09          NaN
5248         63931         63931                     1             1699499.0         1.212121e+07                 0.0  1.440687e+09          NaN
5249         63931         63931                     2             1792040.0         1.282568e+07                 0.0  1.524427e+09          NaN
5263         65372         65372                  CT-4               20177.0         1.825969e+05                 0.0  2.170450e+07          NaN
5264         65372         65372                  CT-5               16511.0         1.503048e+05                 0.0  1.786447e+07          NaN
5265         65372         65372                  CT-6               17812.0         1.681968e+05                 0.0  1.999327e+07          NaN
5266         65373         65373                  CT-1               45496.0         4.139196e+05                 0.0  4.919833e+07          NaN
5267         65373         65373                  CT-2               42884.0         4.000405e+05                 0.0  4.754985e+07          NaN
5268         65373         65373                  CT-3               27625.0         2.556791e+05                 0.0  3.038955e+07          NaN
5269         65373         65373                  CT-4               39449.0         3.624901e+05                 0.0  4.308416e+07          NaN
5270         65373         65373                  CT-5               34414.0         3.257899e+05                 0.0  3.872160e+07          NaN
5271         65373         65373                  CT-6               35031.0         3.197343e+05                 0.0  3.800155e+07          NaN
5272         65373         65373                  CT-7               21626.0         2.013042e+05                 0.0  2.392658e+07          NaN
5273         65373         65373                  CT-8               21438.0         1.967934e+05                 0.0  2.338974e+07          NaN

In [4]:
# identify units that are not mapped to a generator and have zero generation
cems_units[
    cems_units["generator_id"].isna() & (cems_units["gross_generation_mwh"] == 0)
]

      plant_id_epa  plant_id_eia emissions_unit_id_epa  gross_generation_mwh  fuel_consumed_mmbtu  steam_load_1000_lb   co2_mass_lb generator_id
745           1702          1702                     A                   0.0         3.825856e+04             34735.0  4.536492e+06          NaN
746           1702          1702                     B                   0.0         5.631849e+04             33188.0  6.679372e+06          NaN
1074          2503          2503                BLR114                   0.0         1.797387e+06           1245005.0  0.000000e+00          NaN
1075          2503          2503                BLR115                   0.0         1.138404e+06            807743.0  0.000000e+00          NaN
1076          2503          2503                BLR116                   0.0         1.041446e+05             84140.0  0.000000e+00          NaN
...            ...           ...                   ...                   ...                  ...                 ...           ...          ...
3973         55308         55308                     A                   0.0         2.856989e+05            339814.0  0.000000e+00          NaN
3974         55308         55308                     B                   0.0         3.011653e+05            365662.0  0.000000e+00          NaN
4113         55386         55386                   B-1                   0.0         3.275864e+05            227945.0  0.000000e+00          NaN
4114         55386         55386                   B-2                   0.0         3.989732e+05            285374.0  0.000000e+00          NaN
4115         55386         55386                   B-3                   0.0         7.129330e+05            561154.0  0.000000e+00          NaN

[67 rows x 8 columns]

### Investigate matches

In [5]:
# load data that will help with exploration
gens860 = load_data.load_pudl_table(
    "core_eia860__scd_generators",
    year,
    columns=[
        "plant_id_eia",
        "generator_id",
        "operational_status",
        "current_planned_generator_operating_date",
        "prime_mover_code",
        "energy_source_code_1",
        "energy_source_code_2",
    ],
)
plants_entity_eia = load_data.load_pudl_table(
    "core_eia__entity_plants",
    columns=[
        "plant_id_eia",
        "plant_name_eia",
        "street_address",
        "city",
        "county",
        "state",
    ],
)
gens_to_boilers = load_data.load_pudl_table(
    "core_eia860__assn_boiler_generator",
    columns=["plant_id_eia", "generator_id", "boiler_id"],
)

gens860 = gens860.merge(plants_entity_eia, how="left", on="plant_id_eia").merge(
    gens_to_boilers, how="left", on=["plant_id_eia", "generator_id"]
)

gen_fuel_allocated = (
    load_data.load_pudl_table(
        "out_eia923__monthly_generation_fuel_by_generator_energy_source", year
    )
    .groupby(
        ["plant_id_eia", "generator_id", "prime_mover_code", "energy_source_code"]
    )[["net_generation_mwh", "fuel_consumed_mmbtu"]]
    .sum()
    .reset_index()
)

2024-11-19 15:49:13 [WARNING] oge.oge.column_checks:811 The following columns do not have dtypes assigned in `column_checks.get_dtypes()`
2024-11-19 15:49:13 [WARNING] oge.oge.column_checks:815 ['energy_source_code_num']

#### Match Emission Unit to Boiler

In [ ]:
match = {}
for i in cems_units[cems_units["generator_id"].isna()].index:
    plant_id = cems_units.loc[i, "plant_id_eia"]
    emission_unit_id = cems_units.loc[i, "emissions_unit_id_epa"]
    df = gens860.query(
        "plant_id_eia == @plant_id and boiler_id == @emission_unit_id"
    ).drop_duplicates(keep="first")
    if not df.empty:
        match[(plant_id, emission_unit_id)] = df

match

{(3,
  '8'):         plant_id_eia generator_id operational_status current_planned_generator_operating_date prime_mover_code energy_source_code_1 energy_source_code_2 plant_name_eia    street_address   city  county state boiler_id
 177086             3         A3ST           existing                                      NaT               CA                   NG                 <NA>          Barry  North Highway 43  Bucks  Mobile    AL         8
 177088             3         A3C1           existing                                      NaT               CT                   NG                 <NA>          Barry  North Highway 43  Bucks  Mobile    AL         8,
 (136,
  'CT1'):         plant_id_eia generator_id operational_status current_planned_generator_operating_date prime_mover_code energy_source_code_1 energy_source_code_2 plant_name_eia    street_address     city  county state boiler_id
 175751           136           ST           existing                                      NaT               CA                   NG                 <NA>       Seminole  State Highway 19  Palatka  Putnam    FL       CT1
 175759           136          CT2           existing                                      NaT               CT                   NG                 <NA>       Seminole  State Highway 19  Palatka  Putnam    FL       CT1
 175767           136          CT1           existing                                      NaT               CT                   NG                 <NA>       Seminole  State Highway 19  Palatka  Putnam    FL       CT1,
 (136,
  'CT2'):         plant_id_eia generator_id operational_status current_planned_generator_operating_date prime_mover_code energy_source_code_1 energy_source_code_2 plant_name_eia    street_address     city  county state boiler_id
 175752           136           ST           existing                                      NaT               CA                   NG                 <NA>       Seminole  State Highway 19  Palatka  Putnam    FL       CT2
 175760           136          CT2           existing                                      NaT               CT                   NG                 <NA>       Seminole  State Highway 19  Palatka  Putnam    FL       CT2
 175768           136          CT1           existing                                      NaT               CT                   NG                 <NA>       Seminole  State Highway 19  Palatka  Putnam    FL       CT2,
 (10866,
  '13'):         plant_id_eia generator_id operational_status current_planned_generator_operating_date prime_mover_code energy_source_code_1 energy_source_code_2 plant_name_eia street_address    city  county state boiler_id
 104711         10866         GEN5            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        13
 104758         10866         GEN4            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        13
 104805         10866         GEN3            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        13
 104852         10866         GEN2            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        13
 104899         10866         GEN1            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        13,
 (10866,
  '14'):         plant_id_eia generator_id operational_status current_planned_generator_operating_date prime_mover_code energy_source_code_1 energy_source_code_2 plant_name_eia street_address    city  county state boiler_id
 104739         10866         GEN5            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        14
 104786         10866         GEN4            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        14
 104833         10866         GEN3            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        14
 104880         10866         GEN2            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        14
 104927         10866         GEN1            retired                                      NaT               ST                  BIT                   NG         Peoria           <NA>  Peoria  Peoria    IL        14,
 (50481,
  '253-28'):        plant_id_eia generator_id operational_status current_planned_generator_operating_date prime_mover_code energy_source_code_1 energy_source_code_2         plant_name_eia               street_address       city    county state boiler_id
 90653         50481         TG24           existing                                      NaT               ST                   NG                 <NA>  Tennessee Eastman Ops  Eastman Road and Lincoln St  Kingsport  Sullivan    TN    253-28
 90754         50481         TG21           existing                                      NaT               ST                   NG                 <NA>  Tennessee Eastman Ops  Eastman Road and Lincoln St  Kingsport  Sullivan    TN    253-28
 90833         50481         TG20           existing                                      NaT               ST                   NG                 <NA>  Tennessee Eastman Ops  Eastman Road and Lincoln St  Kingsport  Sullivan    TN    253-28
 90885         50481         TG19           existing                                      NaT               ST                   NG                 <NA>  Tennessee Eastman Ops  Eastman Road and Lincoln St  Kingsport  Sullivan    TN    253-28
 90951         50481         TG18           existing                                      NaT               ST                   NG                 <NA>  Tennessee Eastman Ops  Eastman Road and Lincoln St  Kingsport  Sullivan    TN    253-28
 91010         50481         TG17           existing                                      NaT               ST                   NG                 <NA>  Tennessee Eastman Ops  Eastman Road and Lincoln St  Kingsport  Sullivan    TN    253-28
 91069         50481         TG16           existing                                      NaT               ST                   NG                 <NA>  Tennessee Eastman Ops  Eastman Road and Lincoln St  Kingsport  Sullivan    TN    253-28}

#### Look at Specific Plant

In [7]:
plant_id = 55386

cems_units[cems_units["plant_id_eia"] == plant_id]

      plant_id_epa  plant_id_eia emissions_unit_id_epa  gross_generation_mwh  fuel_consumed_mmbtu  steam_load_1000_lb   co2_mass_lb generator_id
4113         55386         55386                   B-1                   0.0         3.275864e+05            227945.0  0.000000e+00          NaN
4114         55386         55386                   B-2                   0.0         3.989732e+05            285374.0  0.000000e+00          NaN
4115         55386         55386                   B-3                   0.0         7.129330e+05            561154.0  0.000000e+00          NaN
4116         55386         55386                  CT-1             1437698.0         1.080994e+07                 0.0  1.285204e+09          CT1
4117         55386         55386                  CT-1             1437698.0         1.080994e+07                 0.0  1.285204e+09          ST1
4118         55386         55386                  CT-2             1109065.0         8.471390e+06                 0.0  1.008796e+09          CT2
4119         55386         55386                  CT-2             1109065.0         8.471390e+06                 0.0  1.008796e+09          ST1

In [8]:
gens860[gens860["plant_id_eia"] == plant_id]

       plant_id_eia generator_id operational_status current_planned_generator_operating_date prime_mover_code energy_source_code_1 energy_source_code_2          plant_name_eia   street_address    city   county state boiler_id
42579         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB1
42580         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB2
42581         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB1
42582         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB2
42583         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB1
...             ...          ...                ...                                      ...              ...                  ...                  ...                     ...              ...     ...      ...   ...       ...
42704         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB2
42705         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       CT1
42706         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       CT2
42707         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB1
42708         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB2

[130 rows x 13 columns]

In [9]:
display(gens860[gens860["plant_id_eia"] == plant_id]["generator_id"].unique())
display(gens860[gens860["plant_id_eia"] == plant_id]["boiler_id"].unique())

<StringArray>
['ST1', 'CT2', 'CT1']
Length: 3, dtype: string

<StringArray>
['DB1', 'DB2', 'CT1', 'CT2']
Length: 4, dtype: string

In [ ]:
# look and see if there are plants with similar names in the same county
# sometimes plants split off
gens860[
    (gens860["county"] == "Calhoun")
    & gens860["plant_name_eia"].str.contains("Columbia")
]

       plant_id_eia generator_id operational_status current_planned_generator_operating_date prime_mover_code energy_source_code_1 energy_source_code_2          plant_name_eia   street_address    city   county state boiler_id
42579         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB1
42580         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB2
42581         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB1
42582         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB2
42583         55386          ST1           existing                                      NaT               CA                   NG                 <NA>  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB1
...             ...          ...                ...                                      ...              ...                  ...                  ...                     ...              ...     ...      ...   ...       ...
42704         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB2
42705         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       CT1
42706         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       CT2
42707         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB1
42708         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center  100 Calpine Way  Gaston  Calhoun    SC       DB2

[130 rows x 13 columns]

In [11]:
gens860[(gens860["city"] == "Gaston")]

       plant_id_eia generator_id operational_status current_planned_generator_operating_date prime_mover_code energy_source_code_1 energy_source_code_2          plant_name_eia           street_address    city       county state boiler_id
928           67161          OAK           existing                                      NaT               PV                  SUN                 <NA>               Oak Solar         146 Summit Trail  Gaston  Northampton    NC      <NA>
4865          64167          GEN           proposed                               2026-06-01               PV                  SUN                 <NA>            Hornet Solar      0 Old Lowesville Rd  Gaston       Gaston    NC      <NA>
6078          63235        OCPV1           existing                                      NaT               PV                  SUN                 <NA>     O'Neill Creek Solar           Old Highway 47  Gaston   Washington    OR      <NA>
8251          61530         GEN1           existing                                      NaT               PV                  SUN                 <NA>     Gaston Solar I - SC  260 George Derrick Road  Gaston    Lexington    SC      <NA>
8922          61031          PV1           existing                                      NaT               PV                  SUN                 <NA>   Floyd Road Solar Farm            4361 NC 46 HW  Gaston  Northampton    NC      <NA>
...             ...          ...                ...                                      ...              ...                  ...                  ...                     ...                      ...     ...          ...   ...       ...
42704         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center          100 Calpine Way  Gaston      Calhoun    SC       DB2
42705         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center          100 Calpine Way  Gaston      Calhoun    SC       CT1
42706         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center          100 Calpine Way  Gaston      Calhoun    SC       CT2
42707         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center          100 Calpine Way  Gaston      Calhoun    SC       DB1
42708         55386          CT1           existing                                      NaT               CT                   NG                  DFO  Columbia Energy Center          100 Calpine Way  Gaston      Calhoun    SC       DB2

[136 rows x 13 columns]

In [12]:
gen_fuel_allocated[gen_fuel_allocated["plant_id_eia"] == plant_id]

       plant_id_eia generator_id prime_mover_code energy_source_code  net_generation_mwh  fuel_consumed_mmbtu
21263         55386          CT1               CT                DFO        4.962890e+03              25831.0
21264         55386          CT1               CT                 NG        1.545602e+06            8750625.5
21265         55386          CT2               CT                DFO        1.155981e+02              25831.0
21266         55386          CT2               CT                 NG        1.976144e+05            8750625.5
21267         55386          ST1               CA                DFO        2.008272e+03                  0.0
21268         55386          ST1               CA                 NG        7.156017e+05             131322.0