In [17]:
# import packages
import numpy as np
import pandas as pd
import plotly.express as px
from IPython.display import display

%reload_ext autoreload
%autoreload 2

# Tell python where to look for modules. 
import sys
sys.path.append('../../hourly-egrid/')

# import local modules
import src.validation as validation
import src.data_cleaning as data_cleaning

from src.column_checks import get_dtypes, apply_dtypes

year = 2020
path_prefix = ''
path_prefix = f"{path_prefix}{year}"

# Validate Cleaned EIA-923 Data
Notes:
- When net generation is positive but no fuel consumption is reported, this could be due to several reasons:
    - The generator uses a clean fuel, like WAT, and reports 0 mmbtu per physical unit fuel consumed
    - The generator is part of a combined cycle unit and all of the fuel is reported on the other cycle
- Records where all data is zero could just mean that the generator didn't operate in that month

In [3]:
eia923_allocated = pd.read_csv(f'../data/outputs/{path_prefix}/eia923_allocated_{year}.csv', dtype=get_dtypes(), parse_dates=['report_date'])

In [5]:
# perform checks on allocated data
# fuel consumption and co2 emissions should be positive
negative_test = validation.test_for_negative_values(eia923_allocated, ['fuel_consumed_mmbtu','fuel_consumed_for_electricity_mmbtu','co2_mass_lb','co2_mass_lb_for_electricity','co2_mass_lb_adjusted'])

# if net generation is positive, fuel consumption should be non zero
missing_fuel_test = validation.test_for_missing_fuel(eia923_allocated, 'net_generation_mwh')

# fuel consumed for electricity should be less than fuel consumed
chp_allocation_test = validation.test_chp_allocation(eia923_allocated)

# check for missing co2 data
missing_co2_test = validation.test_for_missing_co2(eia923_allocated)

# check for generators with no data
missing_data_test = validation.test_for_missing_data(eia923_allocated, ['net_generation_mwh','fuel_consumed_mmbtu','fuel_consumed_for_electricity_mmbtu','co2_mass_lb','co2_mass_lb_for_electricity','co2_mass_lb_adjusted'])

# check for generators with all data = 0
zero_data_test = validation.test_for_zero_data(eia923_allocated, ['net_generation_mwh','fuel_consumed_mmbtu','fuel_consumed_for_electricity_mmbtu','co2_mass_lb','co2_mass_lb_for_electricity','co2_mass_lb_adjusted'])

# check for missing energy source code
missing_esc_test = validation.test_for_missing_energy_source_code(eia923_allocated)

# check for missing and incorrect prime movers
incorrect_pm_test, missing_pm_test = validation.test_for_missing_incorrect_prime_movers(eia923_allocated, year)

# check for missing subplant ids
eia_missing_subplant_test = validation.test_for_missing_subplant_id(eia923_allocated)

Warning: There are 3208 records where net_generation_mwh is positive but no fuel consumption is reported. Check `missing_fuel_test` for complete list
Warning: There are 111 records for which no data was reported. Check `missing_data_test` for complete list
Warning: There are 15029 records where all operating data are zero. Check `zero_data_test` for complete list
Warning: There are 273429 records for which the allocated prime mover does not match the reported prime mover. Check `incorrect_pm_test` for complete list
Warning: There are 224917 records without a subplant ID. See `missing_subplant_test` for details

In [6]:
# check heat rates
heat_rate_test = validation.test_for_outlier_heat_rates(eia923_allocated)

Heat Rate Test
    Warning: 11 of 240 records for AB generators with ST prime mover have heat rate of zero or > 39.08 mmbtu/MWh
             median = 13.61, max = 1533.0, min = 3.05
    Warning: 12 of 12 records for BFG generators with OT prime mover have heat rate of zero or > 0.0 mmbtu/MWh
             median = 0.0, max = 0.0, min = 0.0
    Warning: 9 of 240 records for BFG generators with ST prime mover have heat rate of zero or > 11.17 mmbtu/MWh
             median = 4.21, max = 302.34, min = 0.61
    Warning: 393 of 2978 records for BIT generators with ST prime mover have heat rate of zero or > 21.96 mmbtu/MWh
             median = 9.85, max = 14939.09, min = -0.0
    Warning: 206 of 2059 records for BLQ generators with ST prime mover have heat rate of zero or > 11.66 mmbtu/MWh
             median = 5.26, max = 1230.74, min = 0.0
    Warning: 56 of 72 records for DFO generators with CA prime mover have heat rate of zero or > 4.96 mmbtu/MWh
             median = 0.0, max = 10.26, min = 0.0
    Warning: 10 of 96 records for DFO generators with CT prime mover have heat rate of zero or > 16.84 mmbtu/MWh
             median = 11.79, max = 4304.27, min = 5.35
    Warning: 453 of 4865 records for DFO generators with GT prime mover have heat rate of zero or > 34.66 mmbtu/MWh
             median = 17.7, max = 219.0, min = -0.0
    Warning: 1470 of 36008 records for DFO generators with IC prime mover have heat rate of zero or > 16.96 mmbtu/MWh
             median = 10.43, max = 1472.0, min = -0.0
    Warning: 114 of 1216 records for GEO generators with BT prime mover have heat rate of zero or > 8.77 mmbtu/MWh
             median = 8.77, max = 8.78, min = 8.77
    Warning: 36 of 832 records for GEO generators with ST prime mover have heat rate of zero or > 8.77 mmbtu/MWh
             median = 8.77, max = 8.77, min = 8.77
    Warning: 12 of 120 records for JF generators with GT prime mover have heat rate of zero or > 17.99 mmbtu/MWh
             median = 16.27, max = 30.17, min = 13.16
    Warning: 70 of 660 records for KER generators with GT prime mover have heat rate of zero or > 34.63 mmbtu/MWh
             median = 15.0, max = 191.0, min = -0.0
    Warning: 32 of 72 records for LFG generators with CA prime mover have heat rate of zero or > 17.09 mmbtu/MWh
             median = 0.0, max = 15.02, min = 0.0
    Warning: 4 of 228 records for LFG generators with CT prime mover have heat rate of zero or > 28.61 mmbtu/MWh
             median = 13.78, max = 118.82, min = 3.31
    Warning: 1027 of 17306 records for LFG generators with IC prime mover have heat rate of zero or > 14.15 mmbtu/MWh
             median = 11.89, max = 75.21, min = 4.11
    Warning: 1 of 62 records for LFG generators with ST prime mover have heat rate of zero or > 24.65 mmbtu/MWh
             median = 14.12, max = 108.12, min = 6.67
    Warning: 20 of 156 records for LIG generators with ST prime mover have heat rate of zero or > 17.17 mmbtu/MWh
             median = 11.8, max = 106.39, min = 5.01
    Warning: 91 of 996 records for MSB generators with ST prime mover have heat rate of zero or > 30.93 mmbtu/MWh
             median = 19.37, max = 726.97, min = 3.5
    Warning: 3449 of 8114 records for NG generators with CA prime mover have heat rate of zero or > 3.56 mmbtu/MWh
             median = 0.32, max = 2594.72, min = 0.0
    Warning: 56 of 676 records for NG generators with CS prime mover have heat rate of zero or > 12.17 mmbtu/MWh
             median = 7.23, max = 41618.8, min = 0.4
    Warning: 956 of 14558 records for NG generators with CT prime mover have heat rate of zero or > 17.06 mmbtu/MWh
             median = 10.7, max = 209795.6, min = -0.0
    Warning: 183 of 1872 records for NG generators with FC prime mover have heat rate of zero or > 9.36 mmbtu/MWh
             median = 7.35, max = 24.86, min = 0.01
    Warning: 1988 of 26846 records for NG generators with GT prime mover have heat rate of zero or > 19.59 mmbtu/MWh
             median = 11.66, max = 2904.5, min = -0.0
    Warning: 737 of 13174 records for NG generators with IC prime mover have heat rate of zero or > 15.43 mmbtu/MWh
             median = 9.51, max = 154.5, min = 0.0
    Warning: 719 of 7077 records for NG generators with ST prime mover have heat rate of zero or > 25.74 mmbtu/MWh
             median = 8.07, max = 24208.3, min = -0.0
    Warning: 20 of 1141 records for NUC generators with ST prime mover have heat rate of zero or > 10.45 mmbtu/MWh
             median = 10.45, max = 10.51, min = -0.0
    Warning: 12 of 12 records for OBG generators with CA prime mover have heat rate of zero or > 0.0 mmbtu/MWh
             median = 0.0, max = 0.0, min = 0.0
    Warning: 2 of 36 records for OBG generators with CT prime mover have heat rate of zero or > 28.44 mmbtu/MWh
             median = 11.23, max = 107.23, min = 8.01
    Warning: 6 of 144 records for OBG generators with GT prime mover have heat rate of zero or > 13.3 mmbtu/MWh
             median = 9.94, max = 17.72, min = 6.54
    Warning: 52 of 1952 records for OBG generators with IC prime mover have heat rate of zero or > 20.04 mmbtu/MWh
             median = 9.58, max = 382.86, min = 1.67
    Warning: 2 of 132 records for OBL generators with IC prime mover have heat rate of zero or > 10.61 mmbtu/MWh
             median = 9.28, max = 12.0, min = 8.66
    Warning: 1 of 24 records for OBS generators with ST prime mover have heat rate of zero or > 18.7 mmbtu/MWh
             median = 12.15, max = 19.36, min = 9.73
    Warning: 6 of 84 records for OG generators with IC prime mover have heat rate of zero or > 10.22 mmbtu/MWh
             median = 10.22, max = 10.22, min = 10.22
    Warning: 33 of 515 records for OG generators with ST prime mover have heat rate of zero or > 22.17 mmbtu/MWh
             median = 5.18, max = 8583.62, min = 1.52
    Warning: 18 of 226 records for PC generators with ST prime mover have heat rate of zero or > 18.3 mmbtu/MWh
             median = 8.78, max = 250.71, min = -0.0
    Warning: 122 of 1407 records for RC generators with ST prime mover have heat rate of zero or > 19.31 mmbtu/MWh
             median = 10.25, max = 528712.1, min = -0.0
    Warning: 2 of 24 records for RFO generators with CT prime mover have heat rate of zero or > 12.25 mmbtu/MWh
             median = 10.39, max = 13.76, min = 8.89
    Warning: 85 of 454 records for RFO generators with ST prime mover have heat rate of zero or > 36.19 mmbtu/MWh
             median = 10.23, max = 10825.48, min = -0.0
    Warning: 10 of 12 records for SGC generators with CA prime mover have heat rate of zero or > 0.0 mmbtu/MWh
             median = 0.0, max = 0.0, min = 0.0
    Warning: 8 of 36 records for SGC generators with CT prime mover have heat rate of zero or > 28.02 mmbtu/MWh
             median = 15.65, max = 80.55, min = -0.0
    Warning: 1 of 12 records for SGP generators with CA prime mover have heat rate of zero or > 5.9 mmbtu/MWh
             median = 1.02, max = 59.49, min = 0.32
    Warning: 311 of 2855 records for SUB generators with ST prime mover have heat rate of zero or > 20.97 mmbtu/MWh
             median = 10.36, max = 6293.8, min = -0.0
    Warning: 5 of 174 records for WC generators with ST prime mover have heat rate of zero or > 18.69 mmbtu/MWh
             median = 14.13, max = 44.4, min = 10.83
    Warning: 52 of 1835 records for WDS generators with ST prime mover have heat rate of zero or > 31.11 mmbtu/MWh
             median = 11.58, max = 863.94, min = -0.0
    Warning: 24 of 24 records for WO generators with CA prime mover have heat rate of zero or > 0.0 mmbtu/MWh
             median = 0.0, max = 0.0, min = 0.0
    Warning: 1 of 36 records for WO generators with CT prime mover have heat rate of zero or > 18.21 mmbtu/MWh
             median = 11.56, max = 19.5, min = 8.55
    Warning: 12 of 72 records for WO generators with GT prime mover have heat rate of zero or > 4.98 mmbtu/MWh
             median = 4.74, max = 9.6, min = 4.64

In [11]:
# what percent of emissions is reported in CEMS vs EIA
# NOTE: This does not include emissions only reported by CEMS, so the % may be higher
(eia923_allocated.groupby('hourly_data_source')[["net_generation_mwh","fuel_consumed_mmbtu", 'co2_mass_lb',"co2_mass_lb_for_electricity"]].sum() / eia923_allocated.groupby('hourly_data_source')[["net_generation_mwh","fuel_consumed_mmbtu", 'co2_mass_lb',"co2_mass_lb_for_electricity"]].sum().sum(axis=0)).round(3)

                    net_generation_mwh  fuel_consumed_mmbtu  co2_mass_lb  co2_mass_lb_for_electricity
hourly_data_source
cems                             0.569                0.512        0.811                        0.893
eia                              0.430                0.486        0.185                        0.105
partial_cems                     0.002                0.002        0.003                        0.003

### Run Validation tests on cleaned CEMS data

In [18]:
cems = pd.read_csv(f'../data/outputs/{path_prefix}/cems_{year}.csv', dtype=get_dtypes(), parse_dates=['report_date'])

In [14]:
# fuel consumption and co2 emissions should be positive
cems_negative_test = validation.test_for_negative_values(cems, ['fuel_consumed_mmbtu','fuel_consumed_for_electricity_mmbtu','co2_mass_lb','co2_mass_lb_adjusted', 'gross_generation_mwh'])

# if net generation is positive, fuel consumption should be non zero
cems_missing_fuel_test = validation.test_for_missing_fuel(cems,'gross_generation_mwh')

# fuel consumed for electricity should be less than fuel consumed
cems_chp_allocation_test = validation.test_chp_allocation(cems)

# check for missing co2 data
cems_missing_co2_test = validation.test_for_missing_co2(cems)

# check for missing energy source code
cems_missing_esc_test = validation.test_for_missing_energy_source_code(cems)

# test to make sure that there is a complete subplant mapping
cems_missing_subplant_test = validation.test_for_missing_subplant_id(cems)

# test to see if there are any net generation values greater than gross generation
gtn_test = validation.test_gtn_results(cems)

Warning: There are 10020 records where gross_generation_mwh is positive but no fuel consumption is reported. Check `missing_fuel_test` for complete list
Warning: There are 57171 records where there is a missing energy source code. Check `missing_esc_test` for complete list
Warning: There are 2657421 records without a subplant ID. See `missing_subplant_test` for details
Warning: There are 32.6% of records where net generation > gross generation. See `gtn_test` for details

In [15]:
cems_missing_subplant_test[['plant_id_eia','unitid']].drop_duplicates()

          plant_id_eia unitid
614358             202      1
616517             203      1
1245077          59338  1CTGA
1262645          59338  1CTGB
1280213          60768  2CTGA
...                ...    ...
28061681          7504      1
28122448         55479      1
28131232         56319      1
28140016         56596      1
28148800         56609      1

[365 rows x 2 columns]

In [16]:
cems_missing_esc_test[['plant_id_eia','unitid']].drop_duplicates()

          plant_id_eia  unitid
3586599          60698      D1
3591736          60698      D7
12564109         55088  GT2100
12572893         55088  GT3100
19767709         10244    B002
19771382         10244    B003
20899238         50397      36
21626322         50397      39
22767879         50481  253-26
27014394          3982       1
27023178          3982       2

# Make sure that each subplant has been identified from a unique source

In [19]:
partial_cems_scaled = pd.read_csv(f'../data/outputs/{path_prefix}/partial_cems_scaled_{year}.csv', dtype=get_dtypes(), parse_dates=["report_date"])

# aggregate cems data to subplant level
cems_filtered = data_cleaning.aggregate_cems_to_subplant(cems)

# drop data from cems that is now in partial_cems
cems_filtered = data_cleaning.filter_unique_cems_data(cems_filtered, partial_cems_scaled)

# merge the plant attributes into each dataframe
plant_attributes = pd.read_csv(f"../data/outputs/{path_prefix}/plant_static_attributes_{year}.csv")
eia923_allocated = eia923_allocated.merge(plant_attributes, how="left", on="plant_id_eia")
cems_filtered = cems_filtered.merge(plant_attributes, how="left", on="plant_id_eia")
partial_cems_scaled = partial_cems_scaled.merge(plant_attributes, how="left", on="plant_id_eia")

In [20]:
# create a list of all of the subplants that were IDed as CEMS
subplants_ided_as_cems = eia923_allocated.loc[eia923_allocated["hourly_data_source"] == 'cems', ["plant_id_eia","subplant_id"]].drop_duplicates()
# create a list of all subplants that actually exist in the cems data
subplants_in_cems = cems_filtered[["plant_id_eia","subplant_id"]].drop_duplicates()

# merge the data. Ideally, the source should be "both" for all subplants
# left_only means that we have incorrectly ided some plants as being in cems when they are not
# right only means that there are plants in cems that don't exist in EIA - this is okay because it means that there is not overlap
cems_overlap = subplants_ided_as_cems.merge(subplants_in_cems, how="outer", on=["plant_id_eia","subplant_id"], indicator="source")
cems_overlap[cems_overlap["source"] != "both"]

      plant_id_eia  subplant_id      source
3100           315         <NA>  right_only
3101           335         <NA>  right_only
3102          1378         <NA>  right_only
3103          1702         <NA>  right_only
3104          2503         <NA>  right_only
3105          2828         <NA>  right_only
3106          2953            2  right_only
3107          2953            3  right_only
3108          3399         <NA>  right_only
3109          3406         <NA>  right_only
3110          3935         <NA>  right_only
3111          3948         <NA>  right_only
3112          6019         <NA>  right_only
3113          6166         <NA>  right_only
3114          6264         <NA>  right_only
3115          7277         <NA>  right_only
3116          7737         <NA>  right_only
3117          8102         <NA>  right_only
3118         10294         <NA>  right_only
3119         10298            0  right_only
3120         10698            0  right_only
3121         10865         <NA>  right_only
3122         50472         <NA>  right_only
3123         52106         <NA>  right_only
3124         54415            0  right_only
3125         55216         <NA>  right_only
3126         55308         <NA>  right_only
3127         55386         <NA>  right_only
3128         55641         <NA>  right_only
3129         55699         <NA>  right_only
3130         57842            0  right_only
3131         60925         <NA>  right_only

In [22]:
# create a list of all of the subplants that were IDed as partial cems
subplants_ided_as_pc = eia923_allocated.loc[eia923_allocated["hourly_data_source"] == 'partial_cems', ["plant_id_eia","subplant_id"]].drop_duplicates()
# create a list of all subplants that actually exist in the partial cems data
subplants_in_pc = partial_cems_scaled[["plant_id_eia","subplant_id"]].drop_duplicates()

# merge the data. Ideally, the source should be "both" for all subplants
# left_only means that we have incorrectly ided some plants as being in cems when they are not
# right only means that there are plants in cems that don't exist in EIA - this is okay because it means that there is not overlap
pc_overlap = subplants_ided_as_pc.merge(subplants_in_pc, how="outer", on=["plant_id_eia","subplant_id"], indicator="source")
pc_overlap[pc_overlap["source"] != "both"]

Empty DataFrame
Columns: [plant_id_eia, subplant_id, source]
Index: []